header {text-align: center; font-size: 150%;}

article {
	float: right;
	width: 79%;
	border-radius: 5px;
	padding: 5px;
	background: #89cff0;
	margin: 10px 0px 10px 0px;
}

/* .class */
/* #id */

nav {
	float: left;
	width: 15%;
        border-radius: 5px;
        padding: 5px;
        background: #89cff0;
        margin: 0px 10px 0px 10px;
}

footer {clear: both; color: blue; text-align: center;}

.overlay {
	text-align: center;
	position: fixed;
	display: none;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	background-color: #D3D3D3;	
        border-radius: 5px;
	padding: 5px;
	overflow-y: scroll;
	height: 80%;
}

.question {
	font-weight: bold;
}

.choices {
	height: 50px;
	border: none;
	overflow: hidden;
}

.choices option {
	width: 75px;
	padding: 10px 0;
	text-align: center;
	margin-right: 5px;
	display: inline-block;
	cursor: pointer;
	border: blue solid 1px;
	border-radius: 5px;
	color: blue;
}

.bail {float:right;}

/* wumbo mode */

* {font-family: Arial;}
